@model LRB.Legacy.Repository.Property

@{
    ViewBag.Title = "Property Details";
}

<div class="">
    <table class="table table-bordered">
        <caption>
            <div style="border:1px solid #ebccd1; background-color:#f2dede; height:40px; margin-top:10px; line-height:40px; font-size:17px">PROPERTY INFORMATION</div>
        </caption>
        <tbody>
            <tr>
                <td>File Number</td>
                <td>@Html.DisplayFor(model => model.fileno)</td>
            </tr>
            <tr>
                <td>Public Reference Key</td>
                <td>@Html.DisplayFor(model => model.prkno)</td>
            </tr>
            <tr>
                <td>Date of Archival</td>
                <td>@Html.DisplayFor(model => model.doe)</td>
            </tr>
            <tr>
                <td>Type of Ownership</td>
                <td>@Html.DisplayFor(model => model.owner_type)</td>
            </tr>
            <tr>
                <td>Land Size</td>
                <td>@Html.DisplayFor(model => model.areasize)  @Html.DisplayFor(model => model.areaunit)</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@Html.DisplayFor(model => model.location)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.status)</td>
                @if (Model.status == "FREE AND CLEAR")
                {
                    <td style="background: green; color: white; border-radius:10px;" title="This Property is not mortgaged">@Html.DisplayFor(model => model.status)</td>                    
                }
                else
                {
                    <td style="background: red; color: white;border-radius:10px;" title="This Property is mortgaged">@Html.DisplayFor(model => model.status)</td> 
                }
            </tr>
        </tbody>
    </table>
    <a href="#titlesearch" data-toggle="modal" class="btn btn-default btn-info pull-right" data-target="#titlesearch">New Search</a>
    <table class="table table-bordered">
        
        <caption><div style="border:1px solid #ebccd1; background-color:#f2dede; height:40px; margin-top:20px; line-height:40px; font-size:17px">CONSENT FEE ASSESSMENT</div></caption>
        <thead>
            <tr><th><strong>High Value Property</strong></th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Consent Fees</td>
                <td>@ViewBag.HighValue["ConsentFee"]</td>
            </tr>
            <tr>
                <td>Capital Gains Tax</td>
                <td>@ViewBag.HighValue["CapitalGainsTax"]</td>
            </tr>
            <tr class="warning">
                <td>Total</td>
                <td>@ViewBag.HighValue["Total"]</td>
            </tr>
        </tbody>
        <thead>
            <tr><th><strong>Medium Value Property</strong></th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Consent Fees</td>
                <td>@ViewBag.MediumValue["ConsentFee"]</td>
            </tr>
            <tr>
                <td>Capital Gains Tax</td>
                <td>@ViewBag.MediumValue["CapitalGainsTax"]</td>
            </tr>
            <tr class="warning">
                <td>Total</td>
                <td>@ViewBag.MediumValue["Total"]</td>
            </tr>
        </tbody>
        <thead>
            <tr><th><strong>Base Value Property</strong></th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Consent Fees</td>
                <td>@ViewBag.BaseValue["ConsentFee"]</td>
            </tr>
            <tr>
                <td>Capital Gains Tax</td>
                <td>@ViewBag.BaseValue["CapitalGainsTax"]</td>
            </tr>
            <tr class="warning">
                <td>Total</td>
                <td>@ViewBag.BaseValue["Total"]</td>
            </tr>
        </tbody>
    </table>
</div>
