@model LRBMvc.Areas.earchive.Property

@{
    ViewBag.Title = "Property Details";
}

<div class="">
    <table class="table table-bordered">
        <caption>
            <div style="border:1px solid #ebccd1; background-color:#f2dede; height:40px; margin-top:10px; line-height:40px; font-size:17px">PROPERTY INFORMATION</div>
        </caption>
        <tbody>
            <tr>
                <td>File Number</td>
                <td>@Html.DisplayFor(model => model.fileno)</td>
            </tr>
            <tr>
                <td>Date of Archival</td>
                <td>@Html.DisplayFor(model => model.doe)</td>
            </tr>
            <tr>
                <td>Type of Ownership</td>
                <td>@Html.DisplayFor(model => model.owner_type)</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@Html.DisplayFor(model => model.location)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.status)</td>
                @if (Model.status == "FREE AND CLEAR")
                {
                    <td style="background: green; color: white; border-radius:10px;" title="This Property is not mortgage">@Html.DisplayFor(model => model.status)</td>                    
                }
                else
                {
                    <td style="background: red; color: white;border-radius:10px;" title="This Property is mortgage">@Html.DisplayFor(model => model.status)</td> 
                }
            </tr>
        </tbody>
    </table>
    <a href="#titlesearch" data-toggle="modal" class="btn btn-default btn-info pull-right" data-target="#titlesearch">New Search</a>
</div>
