@model PagedList.IPagedList<LRB.Legacy.Entities.SearchItem>
@using PagedList.Mvc; 

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "searchbyLocation";
}
<br />
<h2>Showing location based results from our E-Archives</h2>
<table class="table table-bordered">
     <thead>
        <caption></caption>
    </thead>
    <tr>
        <th>
            PRK No
        </th>
        <th>
            Address
        </th>
        <th>
            Land Owners
        </th>
        <th></th>
    </tr>
@if (Model != null) {
    
}

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prkNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.owner)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new {  prkNo = item.prkNo  }, new {@class="btn btn-warning"})
        </td>
    </tr>
}
</table>
<a href="#titlesearch" data-toggle="modal" class="btn btn-default btn-info pull-right" data-target="#titlesearch">New Search</a>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }) )
