@model SimpleSecurity.Entities.UserProfile

@{
    ViewBag.Title = "EditProfile";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Complete your profile details</legend>

        <div class="editor-label">
            <label>First Name</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            <label>Middle Name</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            <label>Surname</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SurName)
            @Html.ValidationMessageFor(model => model.SurName)
        </div>

        <div class="editor-label">
            <label>Contact Address</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactAddress)
            @Html.ValidationMessageFor(model => model.ContactAddress)
        </div>

        <p>
            <input type="submit" value="Save Profile" />
        </p>
    </fieldset>
}

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
