@model LRB.Lib.Domain.Requirement

@{
    ViewBag.Title = "Application for Certificate of Occupancy";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "LandApplication",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form col-md-6 offset3", @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="radio">
            <label>
                @Html.RadioButtonFor(model => model.applicationType, new { @display = "Individual", @value = "Individual" })
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                I am applying as an individual
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                I am applying as an organization
            </label>
        </div>
    </div>

    
    <div class="form-group">
        <label for="inputEmail3" class="control-label">State the use of this land</label>
        <div class="">
            @Html.DropDownListFor(model => model.landUse,
            new SelectList(new String[] { "Residential", "Commercial", "Industrial", "Recreational", "Religious", "Educational", "Other" }),
            new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label">State the Size of this Land</label>
        <div class="">
            @Html.TextBoxFor(model => model.landSize, new { @class = "form-control", @type = "" })

        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="control-label">State the Unit of the Area</label>
        <div class="input-group">
            @Html.DropDownListFor(model => model.landSizeUnit, 
            new SelectList(new String[] { "hectares", "square meters" }), new { @class = "form-control" })
        </div>
    </div>    
    <p>
        <input type="submit" class="btn btn-default btn-success" value="I have these requirements, Start Application" />
    </p>
    
}
<div class="col-md-5 well">
    <h3>Requirements for processing this application</h3>
    <ul>
        <li>Original Survey Plans</li>
        <li>Evidence of Ownership</li>
        <li>Recent Passport Photograph</li>
        <li>Evidence of Payment of three Years Development Levy</li>
        <li>Certificate of Incorporation (if Applicant is a Corporate Body or an organization)</li>
        <li>Fire service report (if this application is for a filling station)</li>
        <li>Police report (if Land is for a filling station)</li>
        <li>Feasibility Report (if land is above 5,000 square meters and it is for residential, commercial or industrial purpose)</li>
    </ul>
</div>