@model IEnumerable<LRB.Lib.Domain.Application>
@{
    ViewBag.Title = "Index";
    
}
<p>
</p>
<table class="table table-bordered">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.StartDate.ToString("D")
            </td>
            <td>
                @if (item.SubmissionDate.HasValue) { 
                    <span>@item.SubmissionDate.Value.ToString("D") </span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationType)
            </td>
            <td>
                @if (item.Status == null)
                {
                    <span>Submitted</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Status)
                }                
            </td>
            @if (item.Status == "Incomplete")
            {
                <td>
                    @Html.ActionLink("Continue", "Continue", new { id = item.Id }) |            
                    @Html.ActionLink("Cancel", "Delete", new { id = item.Id })
                </td>
            }
            else
            {
                <td>@Html.ActionLink("View Status", "View", new { id = item.Id })</td>
            }
        </tr>
    }

</table>
@Html.ActionLink("Create New Application", "Create", "", new { @class = "btn btn-md btn-default " })