@model IEnumerable<LRB.Lib.Domain.Application>
@{
    ViewBag.Title = "Index";
    
}
<h2>@WebSecurity.CurrentUserName's Applications | @Html.ActionLink("Create New", "Create")</h2>

<p>
</p>
<table class="table table-bordered">
   
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @if (item.Status == null)
            {
                <td>
                    @Html.ActionLink("Continue", "Continue", new { id = item.Id }) |            
                    @Html.ActionLink("Cancel", "Delete", new { id = item.Id })
                </td>
            }
            else
            {
                <td>@Html.ActionLink("View Status", "View", new { id = item.Id })</td>
            }
        </tr>
    }

</table>