@model LRB.Lib.Domain.DocumentManager
@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
    @input
    }
    else
    {
    @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "RequiredDocuments";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/bootstrap-image-gallery.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="~/Content/jquery.fileupload.css">
    <link rel="stylesheet" href="~/Content/jquery.fileupload-ui.css">
}
@using (Html.BeginForm("RequiredDocuments", "LandApplication", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col-md-8">


        <fieldset>
            <legend>Survey Plan</legend>

            <div class="form-group col-md-4">
                <label>Scanned survey plan</label>
                <input type="file" name="surveyplan" class="form-control" />
                <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan)</span>
            </div>

            <div class="form-group col-md-4">
                <label>Survey Plan Number</label>
                @Html.TextBoxFor(model => model.SurveyPlan_Number, new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan_Number)</span>
            </div>

            <div class="form-group col-md-4">
                <label>Survey Plan Approval Date</label>
                @Html.TextBoxFor(model => model.SurveyPlan_ApprovalDate, new { @class = "form-control", @type = "date" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan_ApprovalDate)</span>
            </div>
        </fieldset>
        <fieldset>
            <legend>Development Levy</legend>
            <div class="form-group col-md-4">
                <label>Scanned Development Levy</label>
                <input type="file" name="developmentlevy" class="form-control" />
                <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan)</span>
            </div>

            <div class="form-group col-md-4">
                <label>Reciept Number</label>
                @Html.TextBoxFor(model => model.DevelopmentLevy_RecieptNumber, new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.DevelopmentLevy_RecieptNumber)</span>
            </div>

            <div class="form-group col-md-4">
                <label>Reciept Date</label>
                <input type="date" name="reciept_date" class="form-control" />
                <span class="help-inline">@Html.ValidationMessageFor(model => model.DevelopmentLevy_RecieptNumber)</span>
            </div>
        </fieldset>
        <fieldset>
            <legend>Form of identification</legend>

            <div class="form-group col-md-4">
                <label>Passport Photograph</label>
                <input type="file" name="passport" class="form-control" />
            </div>

        </fieldset>
        <fieldset>
            <legend>Evidence of Ownership</legend>

            <div class="form-group col-md-4">
                @*@Html.LabelFor(model => model.EvidenceOfOwnership)*@
                <label>Evidence of Ownership</label>
                <input type="file" name="evidence" class="form-control" />
                <span class="help-inline">@Html.ValidationMessageFor(model => model.EvidenceOfOwnership)</span>
            </div>

            <div class="form-group col-md-4">
                <label>Evidence Type</label>
                @Html.DropDownListFor(model => model.EvidenceType,
            new SelectList(new String[] { "Sales Receipt", "Sworn Affidavit", "Deed of Conveyance", "Deed of Agreement", "Inheritance papers", "Power of Attorney", "Other Documents" }), new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.EvidenceType)</span>
            </div>
        </fieldset>
        <fieldset>
            <legend>Additional Documents</legend>

            @if (ViewBag.Requirement.landUse == "Filling Station")
            {
                <div class="form-group col-md-4">
                    <label>Fire service report</label>
                    <input type="file" name="fireservice" class="form-control" />
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan)</span>
                </div>
                <div class="form-group col-md-4">
                    <label>Police report</label>
                    <input type="file" name="policereport" class="form-control" />
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan)</span>
                </div>
            }

            @if (ViewBag.Requirement.applicationType == "Organization")
            {
                <div class="form-group col-md-4">
                    <label>Certificate of Incorporation</label>
                    <input type="file" name="certificate" class="form-control" />
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan)</span>
                </div>
                <div class="form-group col-md-4">
                    <label>Date of Incorporation</label>
                    @Html.TextBoxFor(model => model.DateofIncorporation, new { @class = "form-control", @type = "date" })
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan)</span>
                </div>
            }
            @if (ViewBag.Requirement.landSize > 5000)
            {
                <div class="form-group col-md-4">
                    <label>Feasibility Report</label>
                    <input type="file" name="feasibilityreport" class="form-control" />
                    <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan)</span>
                </div>
            }

            @*<div class="form-group col-md-4">
                <label>Power of Attorney</label>
                <input type="file" disabled name="powers" class="form-control" />
                <span class="help-inline">@Html.ValidationMessageFor(model => model.SurveyPlan)</span>
            </div>*@     
            <div class="form-group col-md-4 pull-right">
                <input type="submit" value="Click to Upload" class="form-control btn btn-default btn-md btn-info" />
            </div>                   
        </fieldset>
        

    </div>
    <div class="col-md-4" style="background-color: #ff6600">
        @if (ViewBag.IsComplete == "disabled")
        {
            <h4 style="color: white">Upload the following Documents</h4>
            <ul class="list-group">
                @foreach (var item in ViewBag.MissingDocuments)
                {
                    <li class="list-group-item">
                        @item
                    </li>
                }

            </ul>
        }

        <h4 style="color: white">Please upload these documents</h4>
        <ul class="list-group" ng-repeat="doc in docs">
            @foreach (var doc in ViewBag.Documents)
            {
                <li class="list-group-item">
                    <div>
                        <span class="badge">@Truncate(doc.DocumentType, 25)</span>
                        <span class="close" style="margin-left: 3px;">&times;</span>
                    </div>
                    @Truncate(doc.FileName, 120)
                </li>
            }

        </ul>
        <div class="form-group">
                @if (ViewBag.IsComplete == "disabled")
                {
                    @Html.RouteLink("Complete Application", "Default", new { action = "Summary", controller = "LandApplication" }, new { @class = "form-control btn btn-default btn-md btn-info", disabled = "disabled" })
                }
                else
                {
                    @Html.RouteLink("Complete Application", "Default", new { action = "Summary", controller = "LandApplication" }, new { @class = "form-control btn btn-default btn-md btn-success" })
                }
            </div>
    </div>
}