@model LRB.Lib.Domain.Application

@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_app_Layout.cshtml";
}
<h2>Summary of Application</h2>

<fieldset>
    <p class="alert alert-info">
        Please print a copy of this summary page before completing your application.<br /> You can click the <strong>Back to Beginning</strong> button 
        located at the end of this page to make corrections to your application.<br />
        To complete your application, click on the <strong>Complete Application</strong> button.
    </p>
    <div class="form-group">
        <span class="col-lg-2 control-label">Reference Number</span>
        <div class="col-lg-10">
            @{
                string refId = "ODSG/LRB/" + DateTime.UtcNow.Year.ToString() + Model.Id.ToString();
            }
            <span class="form-control">@refId</span>
        </div>        
    </div>
</fieldset>

<fieldset>
    @Html.Partial("partials/_ViewPartyPartial", Model.ContactPerson)
</fieldset>

<fieldset>
    @Html.Partial("partials/_ViewPropertyPartial", Model.PrimaryProperty)
</fieldset>

<p>
     <a href="javascript:window.print()" class="btn btn-default btn-info">Print</a> |
    @Html.ActionLink("Back to Beginning", "Create", "", new { @class="btn btn-default btn-warning"}) |
    @Html.ActionLink("Complete Application", "Complete", "", new { @class="btn btn-default btn-success"})
</p>
