@model LRB.Lib.Domain.Application

@{
    ViewBag.Title = "View";
} 
<br />
<table class="table table-bordered">
    <caption><h3>Application for Certificate of Occupancy</h3><br /></caption>
    <tbody>
        <tr>
            <td>Username</td>
            <td>@Html.DisplayFor(model => model.UserId)</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>@Html.DisplayFor(model => model.ContactPerson.FullName)</td>
        </tr>
        <tr>
            <td>Date Submitted</td>
            <td>@Html.DisplayFor(model => model.SubmissionDate)</td>
        </tr>
        <tr>
            <td>Application Status</td>
            <td class="success">@Html.DisplayFor(model => model.Status)</td>            
        </tr>
        <tr>
            <td>Land use</td>
            <td>@ViewBag.LandUse</td>            
        </tr>
        <tr>
            <td>Application Number</td>
            <td>@Html.DisplayFor(model => model.SolaNR)</td>            
        </tr>
    </tbody>
</table>
<br />
<table class="table table-bordered">

        <caption>
            <div style="border: 1px solid #ebccd1; background-color: #f2dede; height: 40px; margin-top: 20px; line-height: 40px; font-size: 17px">FEES ASSESSMENT</div>
        </caption>
        <thead>
            <th></th>
            <th>Fees in Naira</th>
        </thead>
        <tbody>
            <tr>
                <td>Premium</td>
                <td>@ViewBag.PropertyValue["Premium"]</td>
            </tr>
            <tr>
                <td>Processing Fees</td>
                <td>@ViewBag.PropertyValue["ProcessingFee"]</td>
            </tr>
            <tr>
                <td>Land Management Fee(Site Inspection and News paper ad)</td>
                <td>@ViewBag.PropertyValue["LandManagementFee"]</td>
            </tr>
            <tr>
                <td>Land Use Charge[Ground Rent, Tenement Rate, etc]</td>
                <td>@ViewBag.PropertyValue["LandUseCharge"]</td>
            </tr>
            <tr>
                <td>StateWide Digitization of C of O</td>
                <td>@ViewBag.PropertyValue["StateWideDigitization"]</td>
            </tr>
        </tbody>
    </table>
<a href="/LandApplication" class="btn btn-default btn-warning ">Go Back</a>
<a href="javascript:window.print()" class="btn btn-default btn-info">Print</a>

