@model LRB.Lib.Domain.Application

@{
    ViewBag.Title = "View";
} 
<br />
<table class="table table-bordered">
    <caption><h3>Application for Certificate of Occupancy</h3><br /></caption>
    <tbody>
        <tr>
            <td>Username</td>
            <td>@Html.DisplayFor(model => model.UserId)</td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>@Html.DisplayFor(model => model.ContactPerson.FullName)</td>
        </tr>
        <tr>
            <td>Date Submitted</td>
            <td>
                @if (Model.SubmissionDate.HasValue)
                { 
                    <span>@Model.SubmissionDate.Value.ToString("D") </span>
                }
            </td>
        </tr>
        <tr>
            <td>Application Status</td>
            <td class="success">@Html.DisplayFor(model => model.Status)</td>            
        </tr>
        <tr>
            <td>Land Use</td>
            <td>@ViewBag.Use</td>            
        </tr>
        <tr>
            <td>Land Size</td>
            <td><span>@ViewBag.LandSize</span><span> @ViewBag.LandUnit</span></td>            
        </tr>
        <tr>
            <td>Application Number</td>
            <td><strong>ODSG/LRB/@Html.DisplayFor(model => model.SolaNR)</strong></td>            
        </tr>
    </tbody>
</table>
<br />
<table class="table table-bordered">

        <caption>
            <div style="border: 1px solid #ebccd1; background-color: #f2dede; height: 40px; margin-top: 20px; line-height: 40px; font-size: 17px">FEES ASSESSMENT</div>
        </caption>
        <thead>
            <th></th>
            <th>Fees in Naira</th>
        </thead>
        <tbody>
            <tr>
                <td>Application Form</td>
                <td>@ViewBag.Fee["Application_Form"]</td>
            </tr>
            <tr>
                <td>Preparation [Processing] Fees</td>
                <td>@ViewBag.Fee["Processing_Fee"]</td>
            </tr>
            <tr>
                <td>Land Management Fee (Site Inspection and News paper ad)</td>
                <td>@ViewBag.Fee["LandManagement_Fee"]</td>
            </tr>
            <tr>
                <td>Ground Rent</td>
                <td>@ViewBag.Fee["LandUse_Charge"]</td>
            </tr>
            <tr>
                <td>Statewide Digitization of C of O</td>
                <td>@ViewBag.Fee["StateWideDigitization_Charge"]</td>
            </tr>
            <tr>
                <td>Systematic Land Title Registration [SLTR]</td>
                <td>@ViewBag.Fee["SLTR"]</td>
            </tr>
            <tr class="success">
                <td>Total Payments</td>
                <td>@ViewBag.Fee["Total"]</td>
            </tr>
        </tbody>
    </table>
<a href="/LandApplication" class="btn btn-default btn-warning ">Go Back</a>
<a href="javascript:window.print()" class="btn btn-default btn-info">Print</a>

