@model LRB.Lib.Domain.Application

@{
    ViewBag.Title = "View";
} 
<br />
<table class="table table-bordered">
    <caption><h3>Application for Certificate of Ownership</h3><br /></caption>
    <tbody>
        <tr>
            <td>Username</td>
            <td>@Html.DisplayFor(model => model.UserId)</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>@Html.DisplayFor(model => model.ContactPerson.FullName)</td>
        </tr>
        <tr>
            <td>Date Submitted</td>
            <td>@Html.DisplayFor(model => model.SubmissionDate)</td>
        </tr>
        <tr>
            <td>Application Status</td>
            <td class="success">@Html.DisplayFor(model => model.Status)</td>            
        </tr>
        <tr>
            <td>Application Number</td>
            <td>@Html.DisplayFor(model => model.SolaNR)</td>            
        </tr>
    </tbody>
</table>
<br />
<table class="table table-bordered">

        <caption>
            <div style="border: 1px solid #ebccd1; background-color: #f2dede; height: 40px; margin-top: 20px; line-height: 40px; font-size: 17px">CONSENT FEE ASSESSMENT</div>
        </caption>
        <thead>
            <tr>
                <th><strong>High Value Property</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Consent Fees</td>
                <td>@ViewBag.PropertyValue["ConsentFee"]</td>
            </tr>
            <tr>
                <td>Capital Gains Tax</td>
                <td>@ViewBag.PropertyValue["CapitalGainsTax"]</td>
            </tr>
            <tr class="warning">
                <td>Total</td>
                <td>@ViewBag.PropertyValue["Total"]</td>
            </tr>
        </tbody>
    </table>
<a href="/LandApplication" class="btn btn-default btn-warning ">Go Back</a>
<a href="javascript:window.print()" class="btn btn-default btn-info">Print</a>

