@model LRB.Lib.Domain.Application

@{
    ViewBag.Title = "View";
} 
<table class="table table-bordered">
    <caption><h3>Application for Certificate of Ownership</h3></caption>
    <tbody>
        <tr>
            <td>Username</td>
            <td>@Html.DisplayFor(model => model.UserId)</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>@Html.DisplayFor(model => model.ContactPerson.FullName)</td>
        </tr>
        <tr>
            <td>Date Submitted</td>
            <td>@Html.DisplayFor(model => model.SubmissionDate)</td>
        </tr>
        <tr>
            <td>Application Status</td>
            <td class="success">@Html.DisplayFor(model => model.Status)</td>            
        </tr>
        <tr>
            <td>Application Number</td>
            <td>@Html.DisplayFor(model => model.SolaId)</td>            
        </tr>
    </tbody>
</table>

