<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewBag.Title - Ondo LRB</title>
    <meta name="description" content="" />
    <meta name="author" content="Tobi Olagunju" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/home.css" />
    <link rel="stylesheet" href="~/Content/Home/bootstrap.css" />

    <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="container-bg">
            <div class="banner"></div>
            <!--banner-->
            <div class="container">
                <div class="content">
                    <ul class="nav2">
                        <li class="">@Html.RouteLink("HOME", "Default", new { action = "Index", controller = "Home" })</li>
                        <li>@Html.RouteLink("ABOUT US", "Default", new { action = "About", controller = "Home" })</li>
                        <li><a href="#">SERVICES</a>
                            <ul>
                                <li>@Html.RouteLink("Apply for Certificate of Occupancy", "Default", new { action = "Create", controller = "LandApplication" })</li>
                                <li>@Html.RouteLink("Check your Application Status", "Default", new { action = "Index", controller = "LandApplication" })</li>
                                <li><a href="#titlesearch" data-toggle="modal" data-target="#titlesearch">Search for Certificate of Occupancy</a></li>
                            </ul>
                        </li>
                        <li>@Html.RouteLink("FAQ", "Default", new { action = "Faq", controller = "Home" })</li>
                        <li>@Html.RouteLink("CONTACT US", "Default", new { action = "Contact", controller = "Home" })</li>
                        @*@Html.Partial("_LoginPartial")*@
                    </ul>
                    
                    <!--nav-->
                    <div class="clear"></div>
                    @RenderBody()
                </div>
                <!--content-->
                <div id="bottom">
                    Copyright © ODSG Land Records Bureau 2014.  
                </div>
                <!--bottom-->
            </div>
            <!--container-->
        </div>
        <!--container-bg-->
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="~/Scripts/home/bootstrap.js"></script>    
    @Html.Partial("_TitleSearch")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/titlesearch.js"></script>
</body>
</html>
