@model LRB.Lib.Domain.Property
<div class="col-md-3 col-sm-4 sidebar">
    <ul class="nav nav-stacked nav-pills list-group">
        <li class="list-group-item">@Html.RouteLink("Applicant's Information", "Default", new { action = "ContactInformation", controller = "LandApplication" })</li>
        <li class="list-group-item active">@Html.RouteLink("Property Information", "Default", new { action = "PropertyInformation", controller = "LandApplication" }, new { @disabled = "disabled" })</li>
        <li class="list-group-item disabled">@Html.RouteLink("Optional Information", "Default", new { action = "OptionalInformation", controller = "LandApplication" }, new { @disabled = "disabled" })</li>
        <li class="list-group-item disabled">@Html.RouteLink("Document Uploads", "Default", new { action = "RequiredDocuments", controller = "LandApplication" }, new { @disabled = "disabled" })</li>
        <li class="list-group-item disabled">@Html.RouteLink("Confirmation Page", "Default", new { action = "Summary", controller = "LandApplication" }, new { @disabled = "disabled" })</li>
    </ul>
</div>

<div class="col-md-9 col-sm-8" id="personal_details">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Property location information</legend>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.Street)
                @Html.TextBoxFor(model => model.Street, new { @class = "form-control", @type = "text" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Street)</span>
            </div>

            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.Town)
                @Html.TextBoxFor(model => model.Town, new { @class = "form-control", @type = "text" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Town)</span>
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.State)
                @Html.DropDownListFor(model => model.State, new SelectList(new String[] { "Ondo", "Ogun", "Other" }), new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.State)</span>
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.LGA)
                @Html.DropDownListFor(model => model.LGA, new SelectList(new String[] { "Akure South", "Akure North", "Ore" }), new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.LGA)</span>
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.LandSize)
                @Html.TextBoxFor(model => model.LandSize, new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.LandSize)</span>
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.LandSizeUnit)
                @Html.DropDownListFor(model => model.LandSizeUnit,
            new SelectList(new String[] { "hectares", "square meters", " square feet", "acres" }), new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.LandSizeUnit)</span>
            </div>
        </fieldset>
        <fieldset>
            <legend>Other property information</legend>

            <div class="form-group col-lg-4">
                @Html.LabelFor(model => model.Development)
                @Html.DropDownListFor(model => model.Development
                , new SelectList(new String[] { "Undeveloped", "Fenced only", "Foundation level", "Lintel level", "Roof only", "Completed" })
                , new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Development)</span>
            </div>

            <div class="form-group col-lg-8">
                @Html.LabelFor(model => model.CapacityofOwnership)
                @Html.DropDownListFor(model => model.CapacityofOwnership, new SelectList(new String[] { "By inheritance", "By purchase", "As a gift" }), new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.CapacityofOwnership)</span>
            </div>

            <div class="form-group col-lg-4">
                <label></label>
                @Html.DropDownListFor(model => model.LandUse,
                new SelectList(new String[] { "Residential", "Commercial", "Industrial", "Recreational", "Religious", "Educational", "Other" }), new { @class = "form-control" })
                <span class="help-inline">@Html.ValidationMessageFor(model => model.LandUse)</span>
            </div>

            <div class="form-group col-lg-8">
                @Html.LabelFor(model => model.PeriodofPossession_years, new { @class = "form-label" })
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.PeriodofPossession_years,
                        new SelectList(ViewBag.Years), new { @class = "form-control" })
                        </div>
                        <span class="col-md-4">years</span>
                        <span class="help-inline">@Html.ValidationMessageFor(model => model.PeriodofPossession_years)</span>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.PeriodofPossession_months,
                        new SelectList(ViewBag.Months), new { @class = "form-control" })
                        </div>
                        <span class="col-md-4">months</span>
                        <span class="help-inline">@Html.ValidationMessageFor(model => model.PeriodofPossession_months)</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group pull-right col-lg-4">
                    @*<button class="btn btn-primary col-lg-offset-1">Previous</button>*@
                    <button type="submit" class="btn btn-primary col-lg-offset-1">Next</button>
                    <button class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-info">Clear Form</button>
                </div>
            </div>

        </fieldset>
    }
</div>


