@model LRB.Lib.Domain.Property

<div class="form-horizontal">
    <h3>Property</h3>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Development)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.Development)</span>
        </div>        
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.CapacityofOwnership)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.CapacityofOwnership)</span>
        </div>        
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.LandUse)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.LandUse)</span>
        </div>        
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.PeriodofPossession_years)</span>
        <div class="col-lg-10">
            @{
                string peridofownership = Model.PeriodofPossession_years + "years and " + Model.PeriodofPossession_months+ "months";
            }
            <span class="form-control">@peridofownership</span>
        </div>        
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.LandSize)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.LandSize)</span>
        </div>        
    </div>
    
</div>