@model LRB.Lib.Domain.Party

<h3>Personal Information</h3>
<div class="form-horizontal">
    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Surname)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.Surname)</span>
        </div>
    </div>
    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Firstname)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.Firstname)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Middlename)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.Middlename)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Gender)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.Gender)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.DOB)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.DOB)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.StateofOrigin)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.StateofOrigin)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.HomeTown)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.HomeTown)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.LGA)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.LGA)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.OfficeNo)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.OfficeNo)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.MobileNo)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.MobileNo)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Phone2)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.Phone2)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Email)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.Email)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.OrganizationName)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.OrganizationName)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Occupation)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.Occupation)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.EmployerName)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.EmployerName)</span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.EmployerAddress)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.EmployerAddress)</span>
        </div>
    </div>

</div>

