@model LRB.Lib.Domain.Property

<div class="form-horizontal">
    <h3>Property</h3>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.Development)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.Development)</span>
        </div>        
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.CapacityofOwnership)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.CapacityofOwnership)</span>
        </div>        
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.LandUse)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.LandUse)</span>
        </div>        
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.PeriodofPossession)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.PeriodofPossession)</span>
        </div>        
    </div>

    <div class="form-group">
        <span class="col-lg-2 control-label">@Html.DisplayNameFor(model => model.LandSize)</span>
        <div class="col-lg-10">
            <span class="form-control">@Html.DisplayFor(model => model.LandSize)</span>
        </div>        
    </div>
    <p class="alert alert-info">Property Location Information</p>
    
</div>